{% extends "index.html" %}
{% load static %}
{% block title %}Вход зарегистрированного пользователя{% endblock %}
{% block content %}
<div id="inspiration" class="home-features">

    <h3> Введи имя пользователя и пароль: </h3>
    <form method="post">
        {% csrf_token%}
        <br>
        Имя пользователя: &ensp; {{ form.username }} <br><br>
        Пароль: &ensp; {{ form.password }}<br><br>
        {% if form.errors %}
        <font color="red" size="3">Пожалуйста, введи правильное имя пользователя и пароль. Учти, что оба поля могут быть чувствительны к регистру.</font><br><br>
    {% endif %}
        <br><button type="submit"> Войти</button><br><br>
    </form>
</div>

{% endblock %}