{% extends "index.html" %}
{% load static %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
<div id="inspiration" class="home-features">
<h3 align="center">Редактирование профиля</h3><br>
<form method="post">
    {% csrf_token %}
    Логин: &ensp; {{form.username}}<br><br>
    Имя на русском языке: &ensp; {{form.first_name}}<br><br>
    Имя пользователя в Телеграмм: &ensp; {{form.last_name}}<br><br>
    {% if form.errors.username %}
        <font color="red" size="3">Пользователь с таким именем уже существует</font><br><br>
    {% endif %}
    <input type="submit" value="Обновить"><br>
</form>
</div>
{% endblock %}
