{% extends "index.html" %}
{% load static %}
{% block title %}Удалить задачу{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<br><br>
<div class="home-features-hello" align="center">
    <h3>
        Проверь данные по задаче
    </h3>
    <form method="post">
        {% csrf_token %}
        {{form.task_name}}<br>
        {{form.task_comment}}<br>
        {{form.date_task}}<br>
        {{form.time_task}}
        {{form.date_end}}
        <span> {{error}} </span>
        <button class="home-cta-btn1 anchor button">Выполнено</button>
    </form>
    {% else %}
    <div>
        <div class="home-features-hello" align="center">
            <br><br><h4> Привет!<br><br>
            Для того что бы увидеть свои задачи, тебе необходимо авторизоваться.<br><br>
            Если ты еще не с нами - присоединяйся! ;)</h4>
            {% endif %}
        </div>
    </div>

    {% endblock %}

