{% extends "index.html" %}
{% load static %}
{% block title %}Задачи на текущую неделю{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="inspiration" class="home-features">
    <div class="home-heading-container">
        <h2 class="home-text section-Heading">
            Задачи на неделю
        </h2>
    </div>
    <div class="home-cards-container">
        <div class="home-features-card">
            <div class="home-icon-container">
                <h6> {{day_1}} </h6>
            </div>
            <div class="home-text-container">
                <span class="home-heading card-Heading">Понедельник</span>
                <span class="home-text1 card-Text">
                    {% if tsk_1 %}
                      {% for i in tsk_1 %}
                    <div style="float: left">
                    <a href="{% url 'view-task' i.id %}">
                      {{i.time_task}}: {{i.task_name}}
                    </a>&ensp;</div>
                    <div style="float: left">
                    <a href="{% url 'update-task' i.id %}">
                    <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                    </a></div>
                    <div style="float: left">
                    <a href="{% url 'delete-task' i.id %}">
                    <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                    </a></div>
                    <br>
                      {% endfor %}
                    {% else %}
                    На этот день не установлено задач
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="home-features-card1">
            <div class="home-icon-container1">
                <h6>{{day_2}}</h6>
            </div>
            <div class="home-text-container1">
                <span class="home-heading1 card-Heading">Вторник</span>
                <span class="home-text2 card-Text">
                  {% if tsk_2 %}
                    {% for i in tsk_2 %}
                      <div style="float: left">
                      <a href="{% url 'view-task' i.id %}">
                        {{i.time_task}}: {{i.task_name}}
                      </a>&ensp;</div>
                      <div style="float: left">
                      <a href="{% url 'update-task' i.id %}">
                      <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                  </a></div>
                  <div style="float: left">
                  <a href="{% url 'delete-task' i.id %}">
                  <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                      </a></div><br>
                    {% endfor %}
                  {% else %}
                  На этот день не установлено задач
                  {% endif %}
                </span>
            </div>
        </div>
        <div class="home-features-card2">
            <div class="home-icon-container2">
                <h6>{{day_3}}</h6>
            </div>
            <div class="home-text-container2">
                <span class="home-heading2 card-Heading">Среда</span>
                <span class="home-text3 card-Text">
                 {% if tsk_3 %}
                    {% for i in tsk_3 %}
                      <div style="float: left">
                  <a href="{% url 'view-task' i.id %}">
                    {{i.time_task}}: {{i.task_name}}
                  </a>&ensp;</div>
                  <div style="float: left">
                  <a href="{% url 'update-task' i.id %}">
                  <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                  </a></div>
                  <div style="float: left">
                  <a href="{% url 'delete-task' i.id %}">
                  <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                  </a></div><br>
                    {% endfor %}
                  {% else %}
                  На этот день не установлено задач
                  {% endif %}
                </span>
            </div>
        </div>
        <div class="home-features-card3">
            <div class="home-icon-container3">
                <h6>{{day_4|linebreaks}}</h6>
            </div>
            <div class="home-text-container3">
                <span class="home-heading3 card-Heading">Четверг</span>
                <span class="home-text4 card-Text">
                  {% if tsk_4 %}
                    {% for i in tsk_4 %}
                      <div style="float: left">
                  <a href="{% url 'view-task' i.id %}">
                    {{i.time_task}}: {{i.task_name}}
                  </a>&ensp;</div>
                  <div style="float: left">
                  <a href="{% url 'update-task' i.id %}">
                  <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                  </a></div>
                  <div style="float: left">
                  <a href="{% url 'delete-task' i.id %}">
                  <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                  </a></div><br>
                    {% endfor %}
                  {% else %}
                  На этот день не установлено задач
                  {% endif %}
                </span>
            </div>
        </div>
        <div class="home-features-card4">
            <div class="home-icon-container4">
                <h6>{{day_5}}</h6>
            </div>
            <div class="home-text-container4">
                <span class="home-heading4 card-Heading">Пятница</span>
                <span class="home-text5 card-Text">
                 {% if tsk_5 %}
                    {% for i in tsk_5 %}
                      <div style="float: left">
                  <a href="{% url 'view-task' i.id %}">
                    {{i.time_task}}: {{i.task_name}}
                  </a>&ensp;</div>
                  <div style="float: left">
                  <a href="{% url 'update-task' i.id %}">
                  <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                  </a></div>
                  <div style="float: left">
                  <a href="{% url 'delete-task' i.id %}">
                  <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                  </a></div><br>
                    {% endfor %}
                  {% else %}
                  На этот день не установлено задач
                  {% endif %}
                </span>
            </div>
        </div>
        <div class="home-features-card5">
            <div class="home-icon-container5">
                <h6>{{day_6}}</h6>
            </div>
            <div class="home-text-container5">
                <span class="home-heading5 card-Heading">Суббота</span>
                <span class="home-text6 card-Text">
                  {% if tsk_6 %}
                    {% for i in tsk_6 %}
                      <div style="float: left">
                  <a href="{% url 'view-task' i.id %}">
                    {{i.time_task}}: {{i.task_name}}
                  </a>&ensp;</div>
                  <div style="float: left">
                  <a href="{% url 'update-task' i.id %}">
                  <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                  </a></div>
                  <div style="float: left">
                  <a href="{% url 'delete-task' i.id %}">
                  <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                  </a></div><br>
                    {% endfor %}
                  {% else %}
                  На выходные не установлено заметок
                  {% endif %}
                </span>
            </div>
        </div>
        <div class="home-features-card5">
            <div class="home-icon-container5">
                <h6>{{day_7}}</h6>
            </div>
            <div class="home-text-container5">
                <span class="home-heading5 card-Heading">Воскресенье</span>
                <span class="home-text6 card-Text">
                  {% if tsk_7 %}
                    {% for i in tsk_7 %}
                      <div style="float: left">
                  <a href="{% url 'view-task' i.id %}">
                    {{i.time_task}}: {{i.task_name}}
                  </a>&ensp;</div>
                  <div style="float: left">
                  <a href="{% url 'update-task' i.id %}">
                  <img src="{% static "update.png" %}" width="17" height="17" title="Редактировать">
                  </a></div>
                  <div style="float: left">
                  <a href="{% url 'delete-task' i.id %}">
                  <img src="{% static "delete.jpg" %}" width="17" height="17" title="Выполнено">
                  </a></div><br>
                    {% endfor %}
                  {% else %}
                  На выходные не установлено заметок
                  {% endif %}
                </span>
            </div>
        </div>
    </div>
    {% else %}
    <div>
        <div class="home-features-hello" align="center">
            <br><br><h4> Привет!<br><br>
            Для того что бы увидеть свои задачи, тебе необходимо авторизоваться.<br><br>
            Если ты еще не с нами - присоединяйся! ;)</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}