{% extends "index.html" %}
{% load static %}
{% block title %}Просмотр задачи{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="home-features-hello" align="center">
    <br>
    <h3>
        Просмотр задачи
    </h3>
    <form>
        {% csrf_token %}
        Название задачи: <br>{{task.task_name}}<br><br>
        Описание задачи: <br>{{task.task_comment}}<br><br>
        Дата задачи: <br>{{task.date_task}}<br><br>
        Время задачи: <br>{{task.time_task}}<br><br>
        Дата добавления задачи: <br>{{task.date_add}}<br>
        <span> {{error}} </span>
    </form>
</div>
</div>
</div>
<div class="home-section-separator2"></div>
<div class="home-footer-container">
    <div class="home-footer">
        <div class="home-social-links">

        </div>
        <div class="home-copyright-container">
            <svg viewBox="0 0 1024 1024" class="home-icon28">
                <path
                        d="M512 854q140 0 241-101t101-241-101-241-241-101-241 101-101 241 101 241 241 101zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125zM506 390q-80 0-80 116v12q0 116 80 116 30 0 50-17t20-43h76q0 50-44 88-42 36-102 36-80 0-122-48t-42-132v-12q0-82 40-128 48-54 124-54 66 0 104 38 42 42 42 98h-76q0-14-6-26-10-20-14-24-20-20-50-20z"
                ></path>
            </svg>
            <span class="anchor">2022</span>
        </div>
    </div>
</div>
{% else %}
<div>
    <div class="home-features-hello" align="center">
        <br><br><h4> Привет!<br><br>
        Для того что бы увидеть свои задачи, тебе необходимо авторизоваться.<br><br>
        Если ты еще не с нами - присоединяйся! ;)</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
